aiohttp==3.9.0
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
colored==1.4.4
dataclasses-json==0.5.7
faiss-cpu==1.7.4
filelock==3.12.0
fire==0.5.0
frozenlist==1.3.3
fsspec==2023.5.0
gitdb==4.0.10
GitPython==3.1.37
gpt4all==0.2.3
halo==0.0.31
huggingface-hub==0.14.1
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
langchain==0.0.325
log-symbols==0.0.14
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numexpr==2.8.4
numpy==1.24.3
openai==0.27.7
openapi-schema-pydantic==1.2.4
packaging==23.1
Pillow==10.0.1
prompt-toolkit==3.0.38
pydantic==1.10.8
PyYAML==6.0
questionary==1.10.0
regex==2023.5.5
requests==2.31.0
scikit-learn==1.2.2
scipy==1.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smmap==5.0.0
spinners==0.0.24
SQLAlchemy==2.0.15
sympy==1.12
tenacity==8.2.2
termcolor==2.3.0
threadpoolctl==3.1.0
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.36.0
typing-inspect==0.9.0
typing_extensions==4.6.2
urllib3==1.26.18
wcwidth==0.2.6
yarl==1.9.2
